
.a4_all_container{
    margin-left: 20%;
    margin-right: 20%;
    border-left: thick double black;
    border-right: thick double black;

}

.a4_container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    
}

.a4_element{
    width: 30%;
    margin:1%;
    border : 1px solid black;
    border-radius: 15px;
    text-align: center;

}

.a4_element p{
    margin:0!important;
    padding:0!important;
}
.a4_element img{
    width : 80%;
    height: 50%;
}
