.all_block{
    display: flex;
    width: 100%;
}

.all_block div{
    width: 33%;
}


.all_block .lost{
    background: red;
}

.all_block .seen{
    background: green;
}

.all_block .find{
    background: blue;
}

