{% extends 'mysite/base.html' %}
{% load static %}

{% block title%}
Index
{%endblock%}


{% block body%}
<section>
    <br>
    <br class="space">
    <br class="space">
    <div class="a4_all_alert">
        <a href="/alerte">
            <div class="a4_container_home">
                <div class="a4_writing">
                    <img src="{% static 'assets\home\alert\alert.png' %}" alt="writing'alert" title="Alerte">
                </div>
                <br>
                <div class="a4_container_img_alert">
                    <img src="{% static 'assets\home\alert\dog.png' %}" alt="dog" title="Alerte">
                    <img src="{% static 'assets\home\alert\warning.png' %}" alt="warning" title="Alerte">
                    <img src="{% static 'assets\home\alert\cat.png' %}" alt="cat'alart" title="Alerte">
                </div>
            </div>
        </a>
        <br class="space"></br>
        <a href="\annonce">
            <div class="a4_container_home">
                <div class="a4_writing">
                    <img src="{% static 'assets\home\ad\writing.png' %}" alt="writing'ad" title="Alerte">
                </div>
                <br>
                <div class="a4_container_img_alert">
                    <img src="{% static 'assets\home\ad\lost.png' %}" alt="lost" title="publication">
                    <img src="{% static 'assets\home\ad\see.png' %}" alt="see" title="publication">
                    <img src="{% static 'assets\home\ad\find.png' %}" alt="find" title="publication">
                </div>
            </div>
        </a>
        <br class="space"></br>
        <a href="\hebergement">
            <div class="a4_container_home">
                <div class="a4_writing">
                    <img src="{% static 'assets\home\housing\writing.png' %}" alt="writing'ad" title="Alerte">
                </div>
                <br>
                <div class="a4_container_img_alert">
                    <img src="{% static 'assets\home\housing\profil.png' %}" alt="profil" title="hébergement">
                    <img src="{% static 'assets\home\housing\house.png' %}" alt="house" title="hébergement">
                    <img src="{% static 'assets\home\housing\dog.png' %}" alt="dog" title="hébergement">
                </div>
            </div>
        </a>
        <br class="space"></br>
    </div>

</section>
{%endblock%}