{% extends 'alert/base.html' %}

{% block title%}
Contact
{%endblock%}

{% block body%}
<div class="container a4_form_contact">
    <form action="/alerte" method="GET">
        <fieldset>
            <legend>Créer un message</legend>
            <div class="form-group">
                <label for="Email">Votre Email</label>
                <input type="email" class="form-control" id="Email" aria-describedby="email" placeholder="Entrer email"
                    name="email">
            </div>
            <div class="form-group">
                <label for="Subject">Sujet</label>
                <input type="text" class="form-control" id="Subject" aria-describedby="subject"
                    placeholder="Entrer le titre de votre alerte" name="subject">
            </div>
            <div class="form-group">
                <label for="staticreponse">Contact a propos de:</label>
                    <input type="text" readonly="" class="form-control" id="staticreponse"
                        value="Reponse a propos de l'annonce 1220251 'Happy perdu rue saint blaise alencon'">
            </div>
            <div class="form-group">
                <label for="description">Description de l'animal</label>
                <textarea class="form-control" id="description" rows="3"
                    placeholder="Description de l'animal"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" class="form-control-file" id="photo" aria-describedby="fileHelp" name="photo">
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
        </fieldset>
    </form>
</div>
{%endblock%}